<% content_for :title do %>About<% end %>

<div class="container">
  <br>
  <br>
  <br>
  <h3>About the Website</h3>
  <p>
    This site is a proof of concept idea. Coming from a background of teaching digital technology, I have felt that there has never been a good site for people to go to to find out about where they can learn to code.
  </p>
  <p>
    This site is an attempt to do something about it. It is a work in progress.
  </p>



  <p>
    This web application was created with
    <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
    from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>


</div>

<!-- Footer -->
<footer>
  <div class="container">
    <hr class="intro-divider">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <!-- <li>
            <a href="#contact">Contact</a>
          </li> -->
          <li>
            <a href="https://twitter.com/SchuKnight" target="_blank">Twitter</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="https://schuknight.wordpress.com/" target="_blank">Blog</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="https://github.com/libbyschuknight/learn-to-code-nz" target="_blank">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
